body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dailyContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .cardContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    text-align: center;
  }
  
  .metric {
    font-size: 24px;
    font-weight: bold;
  }
  
  .goal {
    font-size: 14px;
    color: lightgreen;
  }
  
  .chart {
    height: 100px;
    background-color: #444;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .stepsChart {
    height: 100px;
    background: conic-gradient(#ADFF2F 0% 89%, #444 89% 100%);
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
  }

