.achievements {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    padding: 20px; 
    background-color: #f7f7f7; 
    border-radius: 10px; 
  }
  
  .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 20px 10px; 
    background: linear-gradient(to bottom, #ff7e5f, #feb47b); 
    border-radius: 50px; 
    box-shadow : 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #fff; 
    box-shadow: 0 4px 6px rgba (0,0,0, 0.1 );
    color: #f7f7f7;
    text-align: center; 
  }
  
  .achievement h4 {
    font-size: 2rem; 
    margin: 0; 
  }
  
  .achievement p {
    font-size: 1rem; 
    margin: 0; 
    font-weight: bold;
  }
  

  
.stats-container {
  display: flex;
  justify-content: space-around;
  background-color: #333; 
  
  padding: 20px;
}



.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 300px;
  background-color: #ff5722; 
  
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  text-align: center;
  position: relative;
}



.stat-item .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.stat-item.hours .icon {
  background-image: url('path/to/your/clock-icon.png');
}

.stat-item.kcal .icon {
  background-image: url('path/to/your/calories-icon.png');
}

.stat-item.poses .icon {
  background-image: url('path/to/your/poses-icon.png');
}

.stat-item.sets .icon {
  background-image: url('path/to/your/sets-icon.png');
}

.stat-item.steps .icon {
  background-image: url('path/to/your/steps-icon.png');
}



.stat-item .value {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-item .label {
  font-size: 18px;
}



@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    width: 80%;
    margin-bottom: 20px;
  }
}
