/* src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  overflow-y: auto;
  color: white;

}
.app-logo{
  width: 160px;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  height: 100vh;
  overflow-y: auto;
}

.sidebar-link {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  background-color: #ec9c08;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.header h1 {
  margin: 0;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.app-logo {
  width: 100px;
  margin-bottom: 20px;
}

.sidebar-link {
  display: block;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px 10px;
  width: 200px;
}

.profile-info {
  font-size: 1rem;
}



.top-section {
  justify-content: space-between;
  margin-bottom: 20px;
}

.activity-overview h2, p, li{
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.activity-overview  {
  background-image: url("https://images.pexels.com/photos/3076516/pexels-photo-3076516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 40px;
  color: azure;
}

.activity-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity-card {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.progress-chart {
  flex-grow: 1;
  margin-right: 20px;
}

.side-section {
  width: 300px;
}

.schedule, .goals, .premium-membership {
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
}

.schedule h2, .goals h2, .premium-membership h2 {
  margin-bottom: 10px;
}

.schedule ul, .goals ul {
  list-style: none;
  padding: 0;
}

.schedule li, .goals li {
  margin: 5px 0;
}

.premium-membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-upgrade {
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 900px;
}


.activity-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-left: 10%; 
}

.activity-card {
  flex: 1;
  padding: 20px;
  background-image: url("https://i.pinimg.com/564x/cf/da/3f/cfda3f21e0e563c592b90c65c43900c6.jpg");
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  align-items: center;
  font-size: 1.99em;
  color: #f1f1f1;

}

.activity-card2 {
  flex: 1;
  padding: 20px;
  background-image: url("https://i.pinimg.com/564x/cb/08/20/cb0820aed7fa3f14a0a82102280ff34a.jpg");
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1.99em;
  color: #f1f1f1;

}

.activity-card3 {
  flex: 1;
  padding: 20px;
  background-image: url("https://i.pinimg.com/564x/88/78/9d/88789d6108d0487400f85a9b597416df.jpg");
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1.99em;
  color: #f1f1f1;

}

.schedule-goals {
  display: flex;
  gap: 20px;
}

.schedule, .goals {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #333;
}

.progress-chart {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #f1a32d;
}


/* Login.css */

.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #f1a32d, #e48509);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-left img {
  width: 100px;
  margin-bottom: 20px;
}

.login-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 18px;
  margin-bottom: 30px;
}

.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #1c1c64;
}

.login-form .btn-google {
  background: white;
  color: #1c1c64;
  border: 1px solid #1c1c64;
  margin-bottom: 20px;
}

.login-form .btn-google:hover {
  background: #1c1c64;
  color: white;
}

.login-form .form-control {
  margin-bottom: 15px;
}

.login-form .form-check-label {
  color: #1c1c64;
}

.login-form .btn-primary {
  background: #e63946;
  border: none;
}


/* Signup.css */

.signup-container {
  display: flex;
  height: 100vh;
}

.signup-left {
  flex: 1;
  background: linear-gradient(135deg, #f1a32d, #e48509);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-left img {
  width: 100px;
  margin-bottom: 20px;
}

.signup-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.signup-left p {
  font-size: 18px;
  margin-bottom: 30px;
}

.signup-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #1c1c64;
}

.signup-form .btn-google {
  background: white;
  color: #1c1c64;
  border: 1px solid #1c1c64;
  margin-bottom: 20px;
}

.signup-form .btn-google:hover {
  background: #1c1c64;
  /* color: white; */
}

.signup-form .form-control {
  margin-bottom: 15px;
}

.signup-form .form-check-label {
  color: #1c1c64;
}

.signup-form .btn-primary {
  background: #e63946;
  border: none;
}

/* Home.css */
.home-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff7f50;
}

.home-container p {
  font-size: 1.1rem;
}

.btn-signup {
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.btn-login {
  background-color: #555;
  border-color: #555;
}

.btn-signup:hover,
.btn-login:hover {
  background-color: #333;
  border-color: #333;
}

.mb-3 {
  margin-bottom: 1rem;
}

.me-2 {
  margin-right: 0.5rem;
}


/* General styling for the dashboard components */
.dashboard-container {
  padding: 20px;
  background-color: #f8f9fa;
}

/* Profile container styling */
.profile-container {
  padding: 20px;
}

/* Styling for user image */
.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Styling for statistics cards */
.stat-card {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Styling for workout cards */
.workout-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.workout-card .trainer-info {
  margin-bottom: 10px;
}

.workout-card .trainer-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo{
  width: 100px;
  margin-bottom: 20px;
}
.logo-profile{
  width: 100px;
  margin-bottom: 20px;
  color: white;
}

/*  */

.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.app-logo {
  width: 100px;
  margin-bottom: 20px;
}

.sidebar-link {
  display: block;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px 10px;
  width: 200px;
}

.profile-info {
  font-size: 1rem;
}


.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.diet-plan-overview {
  flex-grow: 1;
  margin-right: 20px;
}

.week-plan {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.week-plan ul {
  list-style: none;
  padding: 0;
}

.week-plan li {
  margin: 10px 0;
}

.nutrition-form {
  display: flex;
  flex-direction: column;
}

.nutrition-entries {
  display: flex;
  flex-direction: column;
}

.nutrition-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nutrition-entry input {
  margin-right: 10px;
  padding: 5px;
  width: 100px;
}

.remove-button {
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nutrition-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button, .clear-button, .submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nutrition-summary {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 2rem;
  background-color: #f8f9fa;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 900px;
}

.progress-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.progress-card {
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.progress-card .card-body {
  padding: 2rem;
}


/* App.css */
.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;
}

.sidebar-open .main-content {
  margin-left: 250px;
}

.sidebar-closed .main-content {
  margin-left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.side-svg {
  display: flex;
  width: 50px;
  height: 50px;
  fill: #333;
  padding: -10px;
  margin-right: 10px;

}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.app-logo {
  width: 160px;
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.btn-danger {
  margin-top: 20px;
}


.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #212529;
  /* background-image: url('/src/background.png'); */
  background-size: cover;
}

.sidebar {
  width: 210px;
  background-color: #f8f9fa;
  padding: 20px;
  flex-shrink: 0; 
  height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0; 
}

.main-content {
  margin-left: 90px; 
  padding: 20px;
  flex-grow: 1;
}

.nav{
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  margin-bottom: 10px;
  color: #ccc;
}
#basic-navbar-nav{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px; 
  font-size: 20px;
  color: #ccc;
}

/* home.css */

.home-container {
  font-family: Arial, sans-serif;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content img {
  width: 100px;
}

.cards-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.user-card {
  background-color: #1690a5; /* Light blue for user actions */
}

.coach-card {
  background-color: #22345a; /* Light gray for coach actions */
}

.cta-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
}

.cta-button:hover {
  background-color: #0056b3;
}

.about-section {
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about-text {
  flex: 1;
}

.about-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-content {
  padding: 20px;
}

.exercise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.exercise-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.exercise-card:hover {
  transform: translateY(-5px);
}

.exercise-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.exercise-card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #495057;
}

.exercise-card strong {
  color: #212529;
}


.help-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.help-page h1 {
  text-align: center;
  color: #333;
}

.help-page h2 {
  color: #0066cc;
  border-bottom: 2px solid #0066cc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.help-page h3 {
  color: #004080;
}

.help-page ul {
  list-style-type: disc;
  padding-left: 20px;
}

.help-page ul li {
  margin-bottom: 10px;
}

.help-page p {
  line-height: 1.6;
  color: #555;
}

.help-page section {
  margin-bottom: 30px;
}

.help-page hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.help-page .contact-info ul {
  list-style-type: none;
  padding-left: 0;
}

.help-page .contact-info ul li {
  margin-bottom: 10px;
}

.help-page .contact-info strong {
  color: #333;
}

.mt-4.container{
  color: #333;
}

label.form-label{
  color: #333;
}
div.mt-2{
  color: #333;
}
a.nav-link{
  color: #ff7f50;
  text-decoration: none;
}